
<!-- Show response to the previous submission-->
<section *ngIf="answerSubmitted">
  <form (ngSubmit)="nextQuestion()" #nextQForm="ngForm">
    <div *ngIf="question.isAnswerCorrect">
      <p class="text-success">Correct Answer !</p>
    </div>
    <div *ngIf="!question.isAnswerCorrect">
      <p class="text-danger">Wrong Answer !</p>
    </div>
    <button type="submit" class="btn btn-primary">Next, Please !</button>
  </form>
</section>

<!-- Show Question and Options -->

<section *ngIf="question">
  <form (ngSubmit)="submitAnswer()" #mcqForm="ngForm">

        <h2>Question # {{question.questionId}}</h2> {{question.questionText}}
        <hr>
        <div>
          <label for="answer">Answer Options [Select Best One]</label>
          <div class="radio" *ngFor="let opt of question.options">
              <label >
                  <input type="radio" name="answer" [(ngModel)]="question.selectedOptionId"
                        value="{{opt.optionId}}" id="answer" required>
                  {{opt.optionText}}
              </label>
          </div>
        </div>
        <button type="submit" [disabled]="!mcqForm.form.valid" class="btn btn-primary">Submit</button>
  </form>
<section>
