<div class="well">
  <section *ngIf="question">
      <div class="row">
        <blockquote>
          <footer>Question # {{question.questionId}}</footer>
          <p>{{question.questionText}}</p>
        </blockquote>
      </div>
      <div class="row" *ngFor="let opt of question.options">
        <div class="col-md-2 text-right" >
            <span *ngIf="opt.correct">*</span>{{opt.optionId}}
        </div>
        <div class="col-md-10" >
          {{opt.optionText}}
        </div>
      </div>
      <div class="row">
        <blockquote class="blockquote-reverse">
          <footer>{{question.answerText}}</footer>
        </blockquote>
      </div>
    <p>
      <a href="#" class="btn btn-info" [routerLink]="['../../view', question.questionId-1]">Prev</a>
      <a href="#" class="btn btn-info" [routerLink]="['../../edit', question.questionId]">Edit</a>
      <a href="#" class="btn btn-info" [routerLink]="['../../view', question.questionId+1]">Next</a>
    </p>
  </section>  
</div>
