<div class="container-fluid">
  <h2 class="text-info"> {{title}} </h2>

  <nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a routerLink="home" routerLinkActive="text-uppercase text-success">MCQ Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="tzone" routerLinkActive="text-uppercase text-success">Test Zone</a>
      </li>
      <li class="nav-item">
        <a routerLink="question" routerLinkActive="text-uppercase text-success">Question Center</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a routerLink="" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a routerLink="login" routerLinkActive="text-uppercase text-success">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <pre>Hello {{userName}} !</pre>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  </div>
