<div class="row well">
  <!-- Question and Options display here -->
  <div class="col-md-6"> 
    <section *ngIf="question">
      <form (ngSubmit)="submitAnswer()" #mcqForm="ngForm">
            <h4>Question # {{question.questionId}}</h4>
            <p class="text-info">{{question.questionText}}</p>
            <div>
              <div class="radio" *ngFor="let opt of question.options">
                  <label >
                      <input type="radio" name="answer" [(ngModel)]="question.selectedOptionId"
                            value="{{opt.optionId}}" id="answer" required>
                      {{opt.optionText}}
                  </label>
              </div>
            </div>
            <div *ngIf="!answerSubmitted">
              <button type="submit" [disabled]="!mcqForm.form.valid" class="btn btn-primary">Submit Choice</button>
            </div>
      </form>
    </section>
  </div>
  <!-- Right / Wrong, Explanation goes below -->
  <div class="col-md-6"> 
    <section *ngIf="answerSubmitted && gotAnswer">
      <form (ngSubmit)="nextQuestion()" #nextQForm="ngForm">
        <div *ngIf="question.isAnswerCorrect; then answerCorrect else answerWrong"></div>
        <pre><p class="text-info">{{question.answerText}}</p></pre>
        <pre><div class="text-info">Correct : {{noCorrect}} Wrong :{{noWrong}}</div></pre>
        <button type="submit" class="btn btn-primary">Next Question</button>
      </form>
    </section>
  </div>
</div>

<!-- Templates for Correct or Incorrect answers -->
<ng-template #answerCorrect>
    <span class="glyphicon glyphicon-ok"></span>
    <span>Correct Answer !</span>
</ng-template>
<ng-template #answerWrong>
    <span class="glyphicon glyphicon-remove"></span>
    <span>Wrong Answer !</span>
</ng-template>
