<div class="row well">
  <div class="col-md-6"> <!-- Question and Options starts -->
    <section *ngIf="question">
      <form (ngSubmit)="submitAnswer()" #mcqForm="ngForm">
            <h4>Question # {{question.questionId}}</h4>
            <p class="text-info">{{question.questionText}}</p>
            <div>
              <div class="radio" *ngFor="let opt of question.options">
                  <label >
                      <input type="radio" name="answer" [(ngModel)]="question.selectedOptionId"
                            value="{{opt.optionId}}" id="answer" required>
                      {{opt.optionText}}
                  </label>
              </div>
            </div>
            <div *ngIf="!answerSubmitted">
              <button type="submit" [disabled]="!mcqForm.form.valid" class="btn btn-primary">Submit Choice</button>
            </div>
      </form>
    </section>
  </div> <!-- Question and Options ends -->
  <div class="col-md-6"> <!-- Right / Wrong, Explanation here-->
    <section *ngIf="answerSubmitted && gotAnswer">
      <form (ngSubmit)="nextQuestion()" #nextQForm="ngForm">
          <div *ngIf="question.isAnswerCorrect">
              <span class="glyphicon glyphicon-ok"></span>
              <span>Correct Answer !</span>
          </div>
          <div *ngIf="!question.isAnswerCorrect">
              <span class="glyphicon glyphicon-remove"></span>
              <span>Wrong Answer !</span>
          </div>
        <pre>
          <div class="text-info">Correct : {{noCorrect}} Wrong :{{noWrong}}</div>
        </pre>
          <p class="text-info">{{question.answerText}}</p>
        <button type="submit" class="btn btn-primary">Next Question</button>
      </form>
    </section>
  </div>
</div>
